@model ToDoTask

<div class="text-center">
    <h3>Creating a new task</h3>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Title" class="control-label">Title</label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <input asp-for="Description" class="form-control" />
        </div>

        @Html.CheckBoxFor(m => m.Completed) Complete this task
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-secondary" />
        </div>
    </form>

</div>
