@model ToDoListViewModel

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    @foreach(var task in Model.Tasks)
            {
                <h3>@task.Title</h3>
                <p>@task.Description</p>
                <a asp-action="Edit" asp-route-id="@task.Id" class=" btn btn-secondary">Update</a>
            }

</div>
