@model ToDoListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    @foreach(var task in Model.Tasks)
            {
                <h3>@task.Title</h3>
                <p>@task.Description</p>
            }

</div>
